* {
    box-sizing: border-box;
}

.container {
    background-color: rgb(223, 206, 184);
}
.content {
    grid-area: gallery;
    /* background-color:rgb(223, 206, 184) */
}

.content {
    background-color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100vw; 
}
.title{
    font-size: 2em;
    text-align: center;
}
.title h1{
    background-color: rgb(223, 206, 184);
    margin-top:0px;
    height:120px;
    margin-bottom:0px;
}


#pages p{
    font-size: 1.3em;
    text-align: center;
    word-spacing: 20px;
    background-color: rgb(223, 206, 184);
    margin-top: 0px;
    height: 40px;
    margin-bottom: 0px;
}


#pages {
    font-size: 1.3em;
    text-align: center;
    word-spacing: 20px;
    background-color: rgb(223, 206, 184);
    margin-top: none;
}

img {
    height: 300px;
    width: 300px;
}

.menu-item {
    width: 33%;
    padding: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    background-color:white;
    height: 300px;
    background-position: 0%;
}

.menu-item h3 {
    color: black;
    margin: 3px;
    padding: 0px;
    height: auto;
    margin-left: 10px;
}

.cards {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    width: 25%;
    padding: 10px;
}

.menu-item > div {
    border: solid 3px tan;
    padding: 10px;
    border-radius: 5px;
}

.image-div {
    background-size: cover;
    width: 100%;
    height: 250px;
}

.caption {
    margin-top: 15px;
    margin-bottom: 30px;
    color: #999;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.menu-item:hover .regular {
    display: none;
}
.menu-item .hover {
    display: none
}

.menu-item:hover .hover {
    display: inline-block;
}